#container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    /* background-color: #f9f9f9; */
    gap: 10px;
}

.displayCard{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(11, 159, 228, 0.1);
    text-align: center;
    align-items: center;
    position: relative;
}

.Description{
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(90deg,  #263f50, #398ac0);
    padding: 15px;
    font-size: 20px;
    font-style: italic;
    color: whitesmoke;

}

#inputBtn{

    border: 1px solid #ddd;
    width: 500px;
    max-width: 85%;
    padding: 10px 20px;
    outline: 0;
    font-size: 20px;
    border-radius: 5px;
}

.displayCard .detailedInfo {
display: none;
transition: all .3s ease;
}

.displayCard:hover .detailedInfo{
    display: block;
}

img{
    width: 200px;
    height: 100px;
}
#darkModeToggle{
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    }

#darkModeToggle{
background-color: #1074b8;
/* color: #263f50; */

}

.light-mode{
    background-color: whitesmoke;
}
.dark-mode{
    background-color:#333;
    color: #333;
}




